name: CI

on:
  schedule:
    - cron: 0 0,6,12,18 * * *
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Run a one-line script
        run: pwd
      - name: Get Weather Data
        run: |
          mkdir -p ./docs/assets/data
          FILE=./docs/assets/data/`date +"%Y%m%d-%H%M"`.csv
          if [ -f "$FILE" ]; then
              echo "$FILE exists. Done for today."
          else

              echo "Begin to get today's weather condition."
              url="https://wttr.in/Den%20Haag?lang=de&format=%T,%Z,%c,%C,%x,%h,%t,%f,%w,%l,%m,%M,%p,%P,%u,%D,%S,Z,%s,%d"
              response=$(curl -f $url)
              status=$?
              if [ $status -eq 0 ]; then
                  echo $response > $FILE
                  echo "$FILE saved."
                  echo `date +"%Y%m%d-%H%M"` >> ./docs/assets/data.txt
              else
                  echo "curl exit code: ($status) $response"
                  exit $status
              fi
          fi
      - name: Combine data
        run: |
          cd ./docs/assets/data
          # Sort the text files by date
          FILES=($(ls -t))
          # Initialize an empty file to store the combined text
          COMBINED_FILE="../combined_data.txt"
          touch $COMBINED_FILE
          # Add Header into file
          echo "Current time,Local timezone,Weather condition,Weather condition textual name,Weather condition plain-text symbol,Humidity,Temperature (Actual),Temperature (Feels Like),Wind,Location,Moon phase,Moon day,Precipitation (mm/3 hours),Pressure (hPa),UV index (1-12),Dawn,Sunrise,Zenith,Sunset,Dusk" >> $COMBINED_FILE
          # Loop through the text files and append the contents to the combined file
          for FILE in "${FILES[@]}"
          do
              cat "$FILE" >> $COMBINED_FILE
          done
          # Change back to the original directory
          cd $CURRENT_DIR
          # Print the combined file
          cat $COMBINED_FILE
      - name: git check in
        env:
          GIT_OWNER_EMAIL: ${{ secrets.GIT_OWNER_EMAIL }}
          PUSH_TOKEN: ${{ secrets.PUSH_TOKEN }}
        run: |
          git config user.email "$GIT_OWNER_EMAIL"
          git config user.name "cblte"
          if [[ `git status --porcelain` ]]; then
            git add .
            git commit -a -m "add weather data"
            git remote rm origin
            git remote add origin https://cblte:$PUSH_TOKEN@github.com/cblte/wttr-tracker.git
            git push origin HEAD:main
          else
            echo 'unable to detech changes'
          fi
